.book-card {
    width: 200px;
    background-color: #f6f2d9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.best {
    color: orange;
    font-weight: bold;
    margin-bottom: 10px;
}
.book-img {
    width: 120px;
    margin-bottom: 10px;
}
.book-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}