.box {
    width: 30px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
}
.em-box {
    border-style: solid;
    border-width: 5px 10px 15px 20px;
}
.px-box {
    border-width: 5px;
    border-style: solid dashed dotted double;
}
.percent-box {
    border-width: 5px;
    border-style: solid;
    border-color: red blue green orange;
}
.viewport-box {
    border-top: 5px solid red;
    border-right: 10px dashed blue;
    border-bottom: 15px dotted green;
    border-left: 20px double orange;
}