body {
    padding: 20px;
    height: 2000px;
}
.container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    margin-bottom: 50px;
}
.position-relative {
    background-color: red;
    left: 50px;
    top: 30px;
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    align-content: center;
}
.position-absolute {
    background-color: orange;
    right: 30px;
    bottom: 100px;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    align-content: center;
}
.position-fixed {
    background-color: green;
    right: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
    position: fixed;
    border: 2px solid black;
    text-align: center;
    align-content: center;
}