* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.red {
    background: #f94144;
    grid-column:  1 / 5;
    grid-row: 1;
}

.orange {
    background: #f3722c;
    grid-column: 1;
    grid-row: 2 / 4;
}

.yellow {
    background: #f9c74f;
    grid-column: 2 / 4;
    grid-row: 2;
}

.teal {
    background: #43aa8b;
    grid-column: 4;
    grid-row: 2 / 4;
}

.lightorange {
    background: #f8961e;
    grid-column: 2;
    grid-row: 3;
}

.green {
    background: #90be6d;
    grid-column: 3;
    grid-row: 3;
}

.blue {
    background: #4444ff;
    grid-column: 1 / 5;
    grid-row: 4;
}