body {
    margin: 0;
    padding: 0;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(45deg, yellow, orange, 70%, orangered);
    animation: ball 8s linear infinite;
}   

@keyframes ball {
    0% {
        transform: translate(0px);
    }
    25% {
        transform: translate(calc(100vw - 100px), 0px);
    }
    50% {
        transform: translate(calc(100vw - 100px),calc(100vw - 100px));
    }
    75% {
        transform: translate(0, calc(100vw - 100px));
    }
    100% {
        transform: translate(0,0);
    }
}